<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>news</title>
</head>
<body>
    <h1>
        Everything you need to know about the Champions League draw
    </h1>
    <input type="image" src="/static/assets/cup.avif" alt="Submit" >
    <p>
        The draw for the group stage of the Champions League will take place this Thursday. But who is in the draw, what time will it take place, and how will it work? Here's everything you need to know...
When is the draw?
The 2023/24 Champions League draw will start at 18:00 CET on Thursday August 31st. For the first time in three years, the ceremony will take place at the Grimaldi Forum in Monaco.

You will be able to keep up-to-date with the draw right here on Flashscore.

How will the draw work?
The 32 teams will be placed into four pots. Pot 1 will consist of the current holders Manchester City, the Europa League winners Sevilla, and six domestic champions. Pots two to four will be based on the club's coefficient rankings.

To see your club's coefficient ranking, visit the UEFA website.

As usual, no teams from the same federation can be drawn against each other - so Premier League clubs will be kept separate at this stage.
    </p>
     <p>
        Which teams are in the draw?
England: Arsenal, Manchester City, Manchester United, Newcastle

Spain: Atletico, Barcelona, Real Madrid, Real Sociedad, Sevilla

Germany: Bayern Munich, Dortmund, Leipzig, Union Berlin

Italy: Inter, Lazio, AC Milan, Napoli

France: Lens, PSG

Portugal: Benfica, Braga, Porto

Netherlands: Feyenoord

Austria: Salzburg

Scotland: Celtic

Serbia: Red Star Belgrade

Switzerland: Young Boys

Turkey: Galatasaray

Ukraine: Shakhtar Donetsk

*Top seeds in bold. Six additional teams will be confirmed after the final play-off matches on August 30th.
     </p>
     <h2>
        What else happens during the draw?
     </h2>
     <p>
        As well as the draw for the Champions League group stage, the men's player of the year, the woman's player of the year, and men's and women's coaches of the year will be unveiled during the ceremony.

UEFA chief Aleksander Ceferin (55) will also bestow the President's Award to former Germany striker Miroslav Klose for "outstanding achievement, professional excellence and exemplary personal qualities".


     </p>
</body>
</html>