<style>
    .nav {
    background-color: rgb(207, 11, 11);
    color: black ;
    padding-top: 30px;
}

.logo {
float:left;
    display: outside;
}

.login {
   float: right;
   display: stretch;
  flex-flow: row wrap;
  align-items: center;
}

login input {

}

ul {

}

li {

}
</style>
<header>
    <nav class="nav">
        <a class="logo" href="#">
            <img src="static/assets/espn_logo.jpeg" alt="logo">
        </a>
        <ul>
            <li><a href="index.php">Home</li>
            <li><a href="#">Portfolio</li>
            <li><a href="#">About me</li>
            <li><a href="#">Contact</li>
        </ul>
        <div class="login">
            <form action="includes/login.inc.php" method="post">
                <input type="text" name="mailuid" placeholder="Username or Email...">
                <input type="password" name="pwd" placeholder="Password...">
                <button type="submit" name="login-submit">Login</button>
            </form>
            <a href="signup.php">Signup</a>
            <form action="includes/logout.inc.php" method="post">
                <button type="submit" name="logout-submit">Logout</button>
                
            </form>
        </div>
    </nav>


</header>